<div class='searchForm'>
  <%= form_for (@searchLinks) do |f| %>
    <div class="searchLeft">
      <div class"searchA">
        <span class="searchAuthTitle">By Author</span></br>
        <%= f.label :lastName, "Last Name", class: "searchLast" %>
        <%= f.text_field :lastName, class: "searchATextBox" %>

        <%= f.label :firstName, "First Name", class: "searchFirst" %>
        <%= f.text_field :firstName, class: "searchATextBox" %>
      </div>
      <div class="searchL">
        <%= f.label :location, "By Location", class: "searchLoc" %>
        <%= f.text_field :location, class: "searchLTextBox" %>
      </div>

    </div>
    <div class="searchCenter">
      Travel Style </br>
      <div class="searchT">
        <%= f.radio_button :travelStyle, "Economy" %>
        <%= f.label :travelStyle_economy, "Economy" %></br>
        <%= f.radio_button :travelStyle, "Glamping" %>
        <%= f.label :travelStyle_glamping, "Glamping" %></br>
        <%= f.radio_button :travelStyle, "Adventure" %>
        <%= f.label :travelStyle_adventure, "Adventure" %></br>
        <%= f.radio_button :travelStyle, "Spontaneous" %>
        <%= f.label :travelStyle_spontaneous, "Spontaneous" %></br>
      </div>
    </div>

    <div class="searchRight">
      Story Type</br>
      <div class="searchS">
        <%= f.radio_button :storyType, "Humorous", class: 'newStoryRadioButton' %>
        <%= f.label :storyType_humorous, "Humorous", class: 'newStorySubSection' %></br>
        <%= f.radio_button :storyType, "Adventurous", class: 'newStoryRadioButton' %>
        <%= f.label :storyType_adventurous, "Adventurous", class: 'newStorySubSection' %></br>
        <%= f.radio_button :storyType, "Terrifying", class: 'newStoryRadioButton' %>
        <%= f.label :storyType_terrifying, "Terrifying", class: 'newStorySubSection' %></br>
        <%= f.radio_button :storyType, "Informative", class: 'newStoryRadioButton' %>
        <%= f.label :storyType_informative, "Informative", class: 'newStorySubSection' %></br>

      </div>
    </div>
    </br>
    <div class="searchButtons">
      <%= f.submit "Submit Search" %>
    </div>

  <% end %>
</div>
