<div class="row">
  <div class="col-md col-md-offset-3 existingUser">
    <div class='existingUserLabel'> Existing User </div>
    <hr class="titleUnderline">
    <%= form_for(:session, url: login_path) do |f| %>
      
      <%= f.label :email, class: 'loginEmail' %>
      <%= f.email_field :email, class: 'loginEmailTextBox' %>

      <%= f.label :password, class: 'loginPassword' %>
      <%= f.password_field :password, class: 'loginPasswordTextBox' %>

      </br>
      <%= f.submit "Submit", class: "btn btn-primary loginSubmit" %>
    <% end %>
    
    </br>
    <button class='reSelectUserButton'> Back </button></br>
    <script>
      $('.reSelectUserButton').on('click', function(){
        setTimeout(window.location.replace("/login"), 250);
      });
    </script>
  </div>
</div>
