<p>
  <div class="browseList">
    <div class="browseItem"><%= link_to 'By Name', controller: 'display_story_links', action: 'byName' %></div>
    <div class="browseItem"><%= link_to 'By Author', controller: 'display_story_links', action: 'byAuthor' %></div>
    <div class="browseItem"><%= link_to 'By Location', controller: 'display_story_links', action: 'byLocation' %></div>
    <div class="browseItem"><%= link_to 'By Travel Category', controller: 'display_story_links', action: 'byTravelCategory' %></div>
    <div class="browseItem"><%= link_to 'By Story Type', controller: 'display_story_links', action: 'byStoryType' %></div>
  </div>
</p>
