<span class='displayPageNum'>Page <%= session[:working_page] %> </span>
<div class='newPageEditor'>
  <div class='newStoryInsertSelector'>
    <%= button_to "Insert Text Box", text_elements_new_path, method: :get, class: 'insertButtons' %>
    <%= button_to "Insert Image", image_elements_new_path, method: :get, class: 'insertButtons' %>
    </br>
  </div>
  <div class='pageElementsViewer'>
    <span class=pageElementsLabel> Page Elements: </span>
    <div class="pageTextBoxViewer">
      <ul>
        <% text_elements = get_text_elements_for_page%>
        <% set_working_text_element(text_elements.length + 1) %>
        <% if text_elements.length > 0 %>
          <li>Text Elements:</li></br>
          <% text_elements.each do |text| %>
            <li>
              <div><%= link_to("Box #{text.num}", edit_text_element_path(text)) %></div> 
              <div><%= button_to("Remove", text, method: :delete) %></div>
            </li>
          <% end %>
        <% end %>
        <% image_elements = get_image_elements_for_page%>
        <% set_working_image_element(text_elements.length + 1) %>
        <% if image_elements.length > 0 %>
          <li>Image Elements:</li></br>
          <% image_elements.each do |image| %>
            <li>
              <div><%= link_to("Image #{image.num}", edit_image_element_path(image)) %></div> 
              <div><%= button_to("Remove", image, method: :delete) %></div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class='storyButtons'>
  <ul>
    <li><%= button_to "Done", stories_done_path, method: :get %></li>
    <li><%= button_to "Set Layout for Page", { controller: 'pages', action: 'edit', id: working_page.id }, method: :get %></li>
    <li><%= button_to "Prev Page", pages_prev_path, method: :get %></li>
    <li><%= button_to "Next Page", pages_next_path, method: :get %></li>
  </ul>
</div>
</br>
